* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0, 0, 0, 0.65)), url(/SARABIA-WEBSITE/img/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr;
    margin: 0;
    height: 100vh;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents .where {
    font-size: 9vmin;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'coffee butter';
    color: #ff9822;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    text-shadow: -10px 8px 8px rgb(0, 0, 0);
    text-align: center;
}

.content h1 {
    font-size: 35px;
    margin-top: 8px;
    font-family: 'coffee butter';
    color: #ff9822;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    text-shadow: -10px 7px 8px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}


.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 225, 188);
    text-transform: uppercase;
    
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e04b00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.line {
    width: 550px;
    height: 4px;
    background: rgb(244, 200, 119);
    margin: 10px auto;
    margin-top: 32px;
    margin-bottom: 65px;
}


footer p{
    text-align: center;
    padding: .8em;
    background-color: #3d2615;
    color: #fff;
    font-size: 0.9em;
    text-decoration: none;
    margin-top: 50px;
}  

.histof {
    width: 30px;
    margin: 10px auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.histof .img1 {
    width: 340px;
    margin: 50%;
    border-radius: 200px;
    box-shadow: -6px 5px 5px rgb(0, 0, 0);
}
.histof .img2 {
    width: 340px;
    height: 290;
    margin: 50%;
    border-radius: 2000px;
    box-shadow: -6px 5px 5px rgb(0, 0, 0);
}
.histof .img3 {
    width: 340px;
    margin: 50%;
    border-radius: 2000px;
    box-shadow: -6px 5px 5px rgb(0, 0, 0);
}

img {
    transition: transform .3s ease;
    box-shadow: -6px 5px 5px rgb(0, 0, 0);}

img:hover {
    transform: scale(1.1);
    box-shadow: 2px 6px 9px rgb(31, 31, 31);
}

.content p {
    color: wheat;
    text-align: center;
    font-size: 2vmin;
    text-shadow: -3px 5px 2.5px rgb(0, 0, 0);
    margin-right: 70px;
    margin-left: 70px;  
    font-family: 'lexend';
    padding: 15px;
    letter-spacing: .11rem;
    margin-bottom: 35px;
    background-color: #3d261571;
}

.content .titlee {
    color: wheat;
    text-align: center;
    font-size: 2vmin;
    text-shadow: -3px 5px 2.5px rgb(0, 0, 0);
    margin-right: 70px;
    margin-left: 70px;  
    font-family: 'lexend';
    padding: 15px;
    letter-spacing: .11rem;
    margin-bottom: 135px;
    background-color: #3d261571;
}

.ctn {
    padding: 8px 15px;
    background:#5a2e00;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin-left: 700px;
    font-weight: bold;
    margin-left: 669px;
}

.ctn:hover {
    background: rgb(255, 215, 185);
    color: #6e3900;
    box-shadow: 2px 2px 5px rgb(31, 31, 31);
    transform: scale(1.2);
}

.bigga {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-shadow: -3px 2px 2.5px rgba(0, 0, 0, 0.684);
}


